/* fmt: skip file */

/* Overview page */

/* year picker button */
.btn-year1 {
    background-color: #0085CA !important;  /* light green */
    color: white !important;
    border: 1px solid #0085CA !important;


  }

/* message for when there is no data on for the plot on "Explore the Data"" page */
.shiny-output-error-validation {
      color: #2593AF;
      font-size: 30px;
      text-align: center;
    }

/* species dropdown list */
#osDropdown, #os2Dropdown {
  display: block;
  padding: 4px 10px;
  max-width: 200px;   /* Controls the max width of the button */
  width: fit-content; /* Allows the button width to adapt to its content */
}


/* download button */
#downloadData {
  display: block;
  padding: 4px 10px;    /* Less padding */
  margin: 30px auto 10px auto;  /* top-bottom 20px, auto left-right */
  max-width: 200px;   /* Controls the max width of the button */
  width: fit-content; /* Allows the button width to adapt to its content */
}

/* removing scroll bars from sidebar and data table */

  .bslib-sidebar-layout > .sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }


.dataTables_scrollBody::-webkit-scrollbar {  /* Chrome, Safari */
    display: none;
  }

/* table sizing */
div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
    display: inline-block;
}

/* padding for navbar */
.nav {
  --bs-nav-link-padding-x: .8rem;
}


/* General background color for custom card and table */
.dataTables_wrapper,
table.dataTable tbody td,
table.dataTable thead th,
.custom-card {
  background-color: #E9F3F6 !important;
}

/* custom card for Overview page with external card scroll display */
.card-overflow-fix {
  overflow: visible !important;
  background-color: #E9F3F6;
}

.card-overflow-fix .card-body {
  overflow: visible !important;
}


/* scrollability for footer in info and contac page */
    .scrollable-markdown {
      height: calc(100vh - 120px); /* Adjust based on navbar + footer height */
      overflow-y: auto;
      padding: 20px;
    }

    /* Optional: prevent outer page scroll */
    body {
      overflow: hidden;
    }

